#bbb{
    width: 50%;
    overflow: hidden;
    background-color: rgb(153, 152, 152);
    left: 25%;
    position: relative;
}

img {
    -webkit-user-drag: none;
    width: 100%;
}

#tools{
    margin-top: 10px;
    width: 20%;
    column-count: 2;
    left: 55%;
    position: relative;
}